.contact{
  background: url("../img/footer/fog-3622519 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  &__title-contacts{
    padding-top: 150px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 53px;
    /* identical to box height */


    color: #FFFFFF;
  }
  &__row{
    display: flex;
    padding-top: 150px;
    justify-content: space-between;
  }
  &__col-one{
    width: 240px;
    height: 309px;
  }
  &__col-two{
    width: 570px;
    height: 324px;
  }
  &__title-kiev{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height */


    color: #FFFFFF;
  }
  &__title-kievv{
    margin-top: 30px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height */


    color: #FFFFFF;
  }
  &__title-kievvv{
    margin-top: 30px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height */


    color: #FFFFFF;
  }
  &__number{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    /* identical to box height, or 19px */
    margin-top: 13px;

    color: #FFFFFF;
  }
  &__address-link{
    margin-top: 5px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    /* identical to box height, or 19px */
    text-decoration: none;

    color: #FFFFFF;

  }
  &__title-moscow{
    margin-top: 30px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 53px;
    /* identical to box height */


    color: #FFFFFF;
  }&__title-minsk{
     margin-top: 30px;
     font-family: SF Pro Display;
     font-style: normal;
     font-weight: normal;
     font-size: 44px;
     line-height: 53px;
     /* identical to box height */


     color: #FFFFFF;
   }
  &__title-frags{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height */


    color: #FFFFFF;
  }
  &__title-day{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
    /* identical to box height, or 19px */


    color: #FFFFFF;
  }
  &__input-name{
    width: 280px;
    height: 46px;
    padding-left: 15px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.95;
    outline: none;
  }
  &__input-email{
    width: 280px;
    height: 46px;
    padding-left: 15px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.95;
    outline: none;
  }
  &__textarea{
    margin-top: 10px;
    width: 564px;
    height: 144px;
    resize: none;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    opacity: 0.4;
    padding: 15px 15px;
    outline: none;
  }
  &__button{
    width: 120px;
    height: 34px;
    color: white;
    /* Brand - brighter */
    background: linear-gradient(107.54deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
  }
  &__col-three{
    padding-top: 58px;
  }
  &__link-icon{
    margin-top: 28px;
  }
}